<!--The content below is only a placeholder and can be replaced.-->

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <h4 #hello>hello</h4>
      <input type="text" placeholder="First Name:" #firstName>
	  <input type="text" placeholder="Last Name:" #lastName>
      <input type="text" placeholder="User Id:" #userId >
      <button (click)= "onRegister(firstName.value,lastName.value,userId.value)">Register</button>
    </form>
    <form class="login-form">
      <input type="text" placeholder="User Id:" #logInId >
	  <button (click)= "onLogIn(logInId.value)">Log In</button>
    </form>
    <hr>
   	<form style="margin-bottom:0.3cm;" *ngIf = "userDisabled" class = "login-form">
   		<input type="text" placeholder="Superuser Id:" #superUser>
   		<button (click)="onSuper(superUser.value)">SuperUser Log In</button>
   	</form>
   	<form *ngIf = "userDisabled" class = "login-form">
   		<button (click)="refill($event)" name="mint">Mint SuperUser</button>
   	</form>
  </div>
</div>
<!--
<div>
<h3>Register</h3>	
<input type="text" placeholder="First Name:" #firstName>
<input type="text" placeholder="Last Name:" #lastName>
<input type="text" placeholder="User Id:" #userId >
<button (click)= "onRegister(firstName.value,lastName.value,userId.value)">Register</button>
</div>

<div>
<h3>Log In</h3>	
<input type="text" placeholder="User Id:" #logInId >
<button (click)= "onLogIn(logInId.value)">Log In</button>
</div>
-->
<hr>
<div *ngIf = "userDisabled">
	<h3>{{firstname}} {{lastname}} is logged in !!</h3>
	<button *ngIf = "superBool && userDisabled" (click)= "refill($event)" name="register">Register Or Refill</button>
	<button *ngIf = "superBool && userDisabled" (click)= "refill($event)" name="unregister">UnRegister</button>
	<p>Current balance is : {{currentBalance}}</p>
	<p> BlockChain Address : {{address}} </p> 

</div>
<!--<h3 [hidden] = "true" #hello>hello</h3>
<button (click) = "ondisplay(hello)">hello</button>-->
<div *ngIf = "userDisabled">
	<h4>Items in Cart:</h4>

	<table>
		<ng-container>
			<tr>
    			<th>ItemName</th>
			    <th>ItemPrice</th>
  			</tr>
	        <tr *ngFor="let item of onCart">
	  			<p [hidden]= "true" #itemid>{{item.itemId}}</p>
	            <td>{{item.itemName}}</td>
	            <td>{{item.itemPrice}} $</td>
	            <button (click) = "putOnSale(itemid)" >PutOnSale</button>

	        </tr>  
	    </ng-container> 
	</table>
	<!--
	<ul>
	  <li *ngFor="let item of onCart">
	  	<p [hidden]= "true" #itemid>{{item.itemId}}</p>
	    {{item.itemName}}
	    {{item.itemPrice}}
	    <button (click) = "putOnSale(itemid)" >PutOnSale</button>
	  </li>
	</ul>
	-->
</div>

<div *ngIf = "userDisabled">
	<h4>Items in Sale:</h4>
	<table>
		<ng-container>
			<tr>
    			<th>ItemName</th>
			    <th>ItemPrice</th>
  			</tr>
	        <tr *ngFor="let item of onSale">
	        	<p [hidden]= "true" #saleitemid>{{item.saleitemId}}</p>
	            <td>{{item.itemName}}</td>
	            <td>{{item.itemPrice}} $</td>
	        </tr>  
	    </ng-container> 
	</table>
	<!--
	<ul>
	  <li *ngFor="let item of onSale">
	  	<p [hidden]= "true" #saleitemid>{{item.saleitemId}}</p>
		{{item.itemName}}
	    {{item.itemPrice}}
	  </li>
	</ul>
	-->
</div>
<!--
<div *ngIf = "userDisabled">
	<hr>
	<h4>Items you can buy :</h4>
	<ul>
	  <li *ngFor="let item of itemsToBuy">
	  	<p [hidden]= "true" #itemid>{{item.userId}}</p>
		{{item.userId}}
	    {{item.userId}}
	  </li>
	</ul>
</div>
-->

<div *ngIf = "userDisabled" >
	<hr>
	<h4>Items you can buy:</h4>
	<div style="overflow-x:auto;">
	<table>
		<tr>
    			<th>ItemName</th>
			    <th>ItemPrice</th>
  		</tr>
		<ng-container *ngFor="let user of itemsToBuy">
	        <tr *ngFor="let sale of user.onSale">
	            <td>{{sale.itemName}}</td>
	            <td #itemprice>{{sale.itemPrice}} $</td>
	            <td [hidden]="true" #userid>{{user.userId}}</td>
	            <td [hidden]="true" #buyitemid>{{sale.itemId}}</td>
	            <button (click) = "buy(userid,buyitemid,itemprice)" >Buy</button>
	        </tr>  
	    </ng-container> 
	</table>
	</div>
</div>

<router-outlet></router-outlet>
  